.locationSearch-container {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.autocomplete-root {
  position: relative;
}

.autocomplete-root > input {
  height: 44px;
}

.form-control {
  background-color: #F8F8F8;
  border: none;
  font-size: 1.3em;
  font-family: Lato;
  outline: none;
}

.autocomplete-dropdown-container {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.suggestion {
  background-color: #F8F8F8;
  color: #6E8A97;
  padding: 0.25em 0.7em;
}





